@font-face {
    font-family: 'Hanna';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/BM-HANNA.eot);
    src: url(../fonts/BM-HANNA.eot?#iefix) format('embedded-opentype'),
    url(../fonts/BM-HANNA.woff2) format('woff2'),
    url(../fonts/BM-HANNA.woff) format('woff'),
    url(../fonts/BM-HANNA.ttf) format('truetype');
}

a {
    cursor: pointer;
    transition: 0.2s all ease;
    color: inherit;
    text-decoration: none;
}

.container:after,.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body,html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #FFF;
    font-family: 'Hanna', "Helvetica Neue", sans-serif;
    font-size: 14pt;
    color: #222;
}

.hidden {
    display: none;
}

header {
    position: relative;
    z-index: 90;
    padding: 15px;
}

header .col-left,header .col-right {
    width: 50%;
}

header .col-left {
    float: left;
}

header .col-right {
    float: right;
    text-align: right;
}

.btn {
    display: inline-block;
    padding: 4px;
    background-color: #FFF;
    border-radius: 3px;
}

.btn img {
    display: block;
    width: 20px;
}

.btn-tooltip {
    border-radius: 50px;
    opacity: 0.5;
}

.btn-tooltip:hover {
    opacity: 1;
}

.deal {
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 12vh;
    bottom: 0px;
    left: 0px;
    color: #FFF;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.25) 33%, rgba(0,0,0,0.25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(33%, rgba(0,0,0,0.25)), color-stop(100%, rgba(0,0,0,0.25)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.25) 33%, rgba(0,0,0,0.25) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.25) 33%, rgba(0,0,0,0.25) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0,0,0,0.25) 33%, rgba(0,0,0,0.25) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.25) 33%, rgba(0,0,0,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=0 );
}

.deal h1,.deal h2,.deal .origin,.deal a.btn-tickets,.deal a.photo-credits,.deal a.photo-location {
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.deal.visible {
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

.deal.visible,.deal.visible h1,.deal.visible h2,.deal.visible .origin,.deal.visible a.btn-tickets,.deal.visible a.photo-credits, .deal.visible a.photo-location {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.deal.visible h1 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.deal.visible h2 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.deal.visible .origin {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.deal.visible a.btn-tickets,.deal.visible a.photo-credits,.deal.visible a.photo-location {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.deal h1,.deal h2 {
    margin: 0;
    font-weight: normal;
}

.deal h1 {
    font-size: 45pt;
    margin-bottom: -0.15em;
}

.deal h2 {
    font-size: 20pt;
}

.deal .origin {
    display: block;
    font-size: 20px;
}

.deal a.btn-tickets {
    margin-top: 10px;
}

.btn-tickets {
    display: inline-block;
    font-size: 18px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 0.3em 1em;
    color: #FFF;
    text-decoration: none;
}

.btn-tickets:hover {
    background-color: rgba(255,255,255,0.2);
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: #666;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.photo-credits {
    position: fixed;
    left: 15px;
    bottom: 15px;
    padding: 3px 10px 3px 26px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    height: 24px;
    min-width: 9px;
}

a.photo-location {
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 3px 10px 3px 26px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    height: 24px;
    min-width: 9px;
}

a.photo-credits .credits-text, a.photo-location .location-text {
    display: block;
    padding: 4px;
}

.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0,0,0,0.5);
}

.loading-content {
    position: relative;
    top: 50%;
    margin: -10vh auto;
    text-align: center;
}

.loading-content span.title {
    display: block;
    color: #FFF;
    margin: 0 0 50px;
}

/* cal-heatmap */

#cal-heatmap {
    width: 365px;
    height: 185px;
    display: inline-block;
}

.cal-heatmap-container .graph-label {
    fill: white;
    font-size: 14px;
}

.cal-heatmap-container .graph {
    font-family: 'Hanna', "Helvetica Neue", sans-serif;
}

.cal-heatmap-container .subdomain-text {
    fill: #646464;
    font-size: 9px;
}

.cal-heatmap-container .graph-rect {
    fill: #bebebe;
}

.graph-subdomain-group rect{
    cursor: pointer;
}

rect.r1 {
    fill: #2ECC71;
}

rect.r2 {
    fill: #F1C40F;
}

rect.r3 {
    fill: #E67E22;
}

rect.r4 {
    fill: #E74C3C;
}

.cal-heatmap-container rect.highlight {
    stroke: red;
}

.cal-legend span {
    font-size: 14px;
    padding: 5px 10px;
    color: #3b3b3b;
}

.cal-legend span.r1 {
    background-color: #2ECC71;
}
.cal-legend span.r2 {
    background-color: #F1C40F;
}
.cal-legend span.r3 {
    background-color: #E67E22;
}
.cal-legend span.r4 {
    background-color: #E74C3C;
}

.cal-heatmap-container rect.highlight {
    stroke-width: 2;
}

.cal-heatmap-container .graph-subdomain-group rect:hover {
    stroke-width: 2;
}

.cal-heatmap-container text.highlight {
    fill: red;
}

.fa.fa-camera {
    position: absolute;
    left: 10px;
    top: 9px;
}

.fa.fa-map-marker {
    position: absolute;
    left: 13px;
    top: 8px;
}

.btn-tooltip .fa {
    text-align: center;
    width: 20px;
    height: 20px;
}
